.navLogo {
    width: 150px;
}
.navbar{
    background-color: #678286;
    color: black;
}

.bgImage {
    height: 94vh;
    align-items: center
}
.section{
    background-color: #678286;
}

.service {
    background-color: #fff;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.service:hover {
    background-color: #c8d5d8;
    color: black;
}
.service1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}
.work1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.about1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}
.about2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}
.contact1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section2{
    background-color: #fff;
}
.about {
    background-color: #678286;
    color: black;
}
.about h1{
    color: #fff;
}

.aboutlogo{
    height: 5em;
    width: 30em;
}
.footer1{
    background-color: #678286;
}

.map{
    width: 600px;
    height: 465px;
    background: #fff;
    box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
}
.map iframe{
    width: 100%;
    height: 100%;
    border: none;
}
.map{
    width: 100%;
    height: 400px;
}
.gallery {
    overflow: hidden;
  }
  
  .gallery img {
    transition: all 1s ease;
  }
  
  .gallery:hover img {
    transform: scale(1.1);
  }

  .btn-submit{
    background-color: #678286;
    
  }
  .logo{
    width: 400px;
    height: 300px;
  }