.navLogo {
    width: 150px;
}

.bgImage {
    height: 90vh;
    align-items: center
}

.service {
    background-color: #C3946A;
    color: #282828;
}
.service:hover {
    background-color: #282828;
    color: #C3946A;
}
.about {
    background-color: #282828;
    color: #fff;
}
.about h1{
    color: #C3946A;
}

.aboutlogo{
    height: 5em;
    width: 30em;
}